*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#071B4D,#0F2A7A);
    color:white;
}

/* Hero Section */
.hero{
    padding:40px 20px;
    text-align:center;
}

.logo{
    width:180px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

.hero h1{
    margin-top:20px;
    font-size:48px;
}

.tagline{
    margin-top:15px;
    font-size:20px;
}

.subtitle{
    margin-top:15px;
    font-size:18px;
}

/* Buttons */
.buttons{
    margin-top:25px;
}

.telegram-btn,
.whatsapp-btn,
.email-btn{
    display:inline-block;
    padding:14px 25px;
    margin:8px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.telegram-btn{
    background:#F4A300;
    color:#071B4D;
}

.whatsapp-btn{
    background:#25D366;
    color:white;
}

.email-btn{
    background:white;
    color:#071B4D;
}

.telegram-btn:hover,
.whatsapp-btn:hover,
.email-btn:hover{
    opacity:0.9;
}

/* Profile Photo */
.profile-photo{
    width:180px;
    margin:25px auto;
    display:block;
    border-radius:20px;
    border:5px solid #F4A300;
    box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

/* Menu Cards */
.portal-menu{
    max-width:700px;
    margin:20px auto;
}

.menu-btn{
    display:block;
    background:white;
    color:#071B4D;
    text-decoration:none;
    padding:15px;
    margin:10px 0;
    border-radius:12px;
    font-weight:bold;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.menu-btn:hover{
    background:#F4A300;
    color:white;
}
.welcome{
    background:#ffffff;
    color:#071B4D;
    max-width:900px;
    margin:40px auto;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

.welcome h2{
    font-size:30px;
    margin-bottom:15px;
    color:#F4A300;
}

.welcome p{
    font-size:18px;
    line-height:1.8;
}




/* Footer */
footer{
    background:#041238;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:40px;
}

/* Mobile */
@media(max-width:768px){

    .hero h1{
        font-size:28px;
    }

    .tagline,
    .subtitle{
        font-size:16px;
    }

    .logo{
        width:140px;
    }

    .profile-photo{
        width:140px;
    }

    .telegram-btn,
    .whatsapp-btn,
    .email-btn{
        display:block;
        margin:10px auto;
        max-width:220px;
    }
}
